body {
  background-color: white !important;
  /*弹框*/
}
body .main {
  background-color: white;
}
body .mainContent {
  padding: 0.64rem;
}
body .mainContent h1 {
  font-size: 0.768rem;
  margin: 0;
}
body .mainContent ul li {
  text-align: center;
  margin: 0.64rem 0 0 0;
  padding: 0 0.21333333rem;
  border: none;
}
body .mainContent ul li p {
  margin: 0;
  padding: 0.32rem 0;
  background-color: #f5f5fa;
  border-radius: 2px;
}
body .mainContent ul li:first-child p {
  background-color: #0090ff;
  color: white;
}
body .mainContent .quikBuy {
  width: 90%;
  height: 1.70666667rem;
  text-align: center;
  line-height: 1.70666667rem;
  font-size: 0.768rem;
  color: white;
  background-color: #0090ff;
  border-radius: 2px;
  margin: 6.4rem auto 0;
}
body .am-thumbnails {
  margin: 0;
}
body .payKuan {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
}
body .payKuan .kuanBan {
  height: 50%;
  width: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
}
body .payKuan .kuanBan p {
  height: 2.13333333rem;
  margin: 0;
  padding: 0 0.64rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}
body .payKuan .kuanBan p span:first-child {
  position: absolute;
  top: 0.256rem;
  left: 0.64rem;
  font-size: 1.13066667rem;
}
body .payKuan .kuanBan p span:last-child {
  font-size: 0.85333333rem;
  font-weight: bolder;
}
body .payKuan .kuanBan ul {
  height: 90%;
  overflowY: auto;
  padding: 0 0.64rem;
  display: flex;
  flex-direction: column;
}
body .payKuan .kuanBan ul li:first-child {
  flex: 1;
  font-size: 1.49333333rem;
  text-align: center;
  color: #f73152;
}
body .payKuan .kuanBan ul li:nth-child(2) {
  flex: 1;
  font-size: 0.85333333rem;
  color: #373737;
  display: flex;
  align-items: center;
}
body .payKuan .kuanBan ul li:nth-child(3) {
  flex: 1;
  font-size: 0.74666667rem;
  color: #3d3d3d;
  display: flex;
  justify-content: space-between;
}
body .payKuan .kuanBan ul li:nth-child(3) span:first-child {
  display: flex;
  align-items: center;
}
body .payKuan .kuanBan ul li:nth-child(3) span:first-child i {
  font-style: normal;
  font-size: 1.49333333rem;
  color: #149e23;
  margin-right: 0.10666667rem;
}
body .payKuan .kuanBan ul li:nth-child(3) span:last-child {
  font-size: 1.70666667rem;
  color: #0090ff;
  display: flex;
  align-items: center;
}
body .payKuan .kuanBan ul li:nth-child(4) {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .payKuan .kuanBan ul li:nth-child(4) p {
  width: 90%;
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  text-align: center;
  font-size: 0.85333333rem;
  background-color: #0090ff;
  color: white;
  border-radius: 2px;
}
