<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>耐的管家</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Coms/css/Index/css/index.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/swiper-4.2.2.min.css">
    
</head>
<body>
	<div class="main" v-cloak>
		<!-- 顶部 -->
		<div class="mainTop">
			<ul>
				<li><h1>耐的管家</h1></li>
				<li>
					<span><img src="__PUBLIC__/Home/images/tx.png" alt=""></span>
				</li>
				<!-- 判断会员等级 -->
				<li>
					<!-- 两种都有 -->
					<p v-if="type === 'A'">
                    账号：
						<span>{{userInfo.userName}}</span>
						<span><img src="__PUBLIC__/Home/images/hylanse.png" alt=""></span>
						<span><img src="__PUBLIC__/Home/images/hylvse.png" alt=""></span>
						
					</p>
					<!-- 服务站收益 -->
					<p v-else-if="type === 'B'">
						账号：
						<span>{{userInfo.userName}}</span>
						<span><img src="__PUBLIC__/Home/images/hylanse.png" alt=""></span>
					</p>
					<!-- 经销商收益 -->
					<p v-else-if="type === 'C'">
						账号：
						<span>{{userInfo.userName}}</span>
						<span><img src="__PUBLIC__/Home/images/hylvse.png" alt=""></span>
					</p>
				</li>
			</ul>
			
		</div>
		<!-- 个人账户 -->
		<div class="personalPrice">
			<p>
				<span>{{userInfo.balance}}</span>
				<span>账户余额&nbsp;(元)</span>
			</p>
			<p>
				<span>{{userInfo.canMoney}}</span>
				<span>可提现&nbsp;(元)</span>
			</p>
		</div>
		<!-- 详情 -->
		<div class="mainCenter clearfix swiper-container">
			<!-- 两种都有 -->
			<ul v-if="type === 'A'" class="swiper-wrapper">
				<li class="service dealerProfit swiper-slide">
					<p>
						<span>经销商收益：</span>
						<span><img src="__PUBLIC__/Home/images/hylvse.png" alt=""></span>
					</p>
					<p><span>余额：</span><span><i>12, 562</i>元</span></p>
					<p><span>用户量：</span><span><i>183</i>人</span></p>
					<p><span>库存量：</span><span><i>12, 562</i>台</span></p>
					<div><a href="{:U('Coms/Dealer/dealer')}">更多详情<span class="iconfont icon-xiangyou1"></span></a></div>
				</li>
				<li class="dealer dealerProfit swiper-slide">
					<p><span>服务站收益：</span><span><img src="__PUBLIC__/Home/images/hylanse.png" alt=""></span></p>
					<p><span>余额：</span><span><i>12, 562</i>元</span></p>
					<p><span>合约设备：</span><span><i>12, 562</i>台</span></p>
					<div><a href="{:U('Coms/Dealer/services')}">更多详情<span class="iconfont icon-xiangyou1"></span></a></div>
				</li>
				
			</ul>
			<div class="swiper-pagination"></div>
			<!-- 经销商收益 -->
			<ul v-if="type === 'B'">
				<li class="dealer dealerProfit" style="width: 100% !important; margin-right: 0;">
					<p><span>经销商收益：</span><span><img src="__PUBLIC__/Home/images/hylvse.png" alt=""></span>></p>
					<p><span>余额：</span><span><i>12, 562</i>元</span></p>
					<p><span>用户量：</span><span><i>183</i>人</span></p>
					<p><span>库存量：</span><span><i>12, 562</i>台</span></p>
					<div><a href="{:U('Coms/Dealer/dealer')}">更多详情<span class="iconfont icon-xiangyou1"></span></a></div>
				</li>
			</ul>
			<!-- 服务站收益 -->
			<ul v-if="type === 'C'">
				<li class="service dealerProfit" style="width: 100% !important; margin-right: 0;">
					<p><span>服务站收益：</span><span><img src="__PUBLIC__/Home/images/hylanse.png" alt=""></span></p>
					<p><span>余额：</span><span><i>12, 562</i>元</span></p>
					<p><span>合约设备：</span><span><i>12, 562</i>台</span></p>
					<div><a href="{:U('Coms/Dealer/services')}">更多详情<span class="iconfont icon-xiangyou1"></span></a></div>
				</li>
			</ul>
		</div>
		<!-- 底部导航 -->
		<div class="mainNav">
			<ul class="am-avg-sm-3 am-avg-md-3 am-avg-lg-3 am-thumbnails">
				<li>
					<a href="{:U('Coms/Users/index')}">
						<span><i class="iconfont icon-yonghu1"></i></span>
						<span>用户列表</span>
					</a>
				</li>
				<li>
					<a href="{:U('Coms/Vendors/helppay')}">
						<span><i class="iconfont icon-chongzhi"></i></span>
						<span>代缴费</span>
					</a>
				</li>
				<li>
					<a href="{:U('Coms/Withdraw/index')}">
						<span><i class="iconfont icon-tixian1"></i></span>
						<span>提现</span>
					</a>
				</li>
				<li>
					<a href="{:U('Coms/Vendors/wait_task')}">
						<span><i class="iconfont icon-daiban"></i></span>
						<span>待办任务</span>
					</a>
				</li>
				<li>
					<a href="{:U('Coms/Install/index')}">
						<span><i class="iconfont icon-shigongrenyuan"></i></span>
						<span>安装人员</span>
					</a>
				</li>
				<li>
					<a href="{:U('Coms/Service/index')}">
						<span><i class="iconfont icon-goumaijilu"></i></span>
						<span>服务记录</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/js/swiper-4.2.2.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Coms/js/index/index.js"></script>
</body>
</html>