<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首租付款</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/Pay/css/firstHire.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/amazeui.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
</head>
<body>
	<div class="main" v-cloak>
		<div class="mainContent">
			<!-- 货物详情 -->
			<div class="goods am-g">
				<p class="am-u-sm-4 am-u-md-4 am-u-lg-4"><img src="__PUBLIC__/Home/images/bj.png" alt=""></p>
				<ul class="am-u-sm-8 am-u-md-8 am-u-lg-8">
					<li>{{goodsInfo.goodsTitle}}</li>
					<li>{{goodsInfo.goodsDetail}}</li>
					<li class="am-text-bottom"><span>{{goodsInfo.goodsPrice}}</span>X<span>{{goodsInfo.goodsNum}}</span></li>
				</ul>
			</div>
			<!-- 货物地址 -->
			<div class="goodsAddress am-g">
				<div class="am-u-sm-2">
					<span class="iconfont icon-shouhuodizhi"></span>
				</div>
				<ul class="am-u-sm-10">
					<li><span>收货人： <i>{{userAddr.username}}</i></span><span>{{userAddr.userPhone}}</span></li>
					<li>收货地址：<span>{{userAddr.userAddress}}</span></li>
				</ul>
			</div>
			<!-- 确认付款 -->
			<div class="payBtn">
				<p @click="payMent">付款</p>
			</div>
		</div>
		<!-- 点击付款后弹出支付模式 -->
		<div class="payKuan">
			<ul>
				<li>
					<p>支付：<span>￥{{parseInt(goodsInfo.goodsPrice)}}</span></p>
				</li>
				<li>
					<p style="padding-left:.5rem;">选择支付方式</p>
				</li>
				<li>
					<div class="payWay">
						<span class="iconfont icon-circleyuanquan quanquan"></span>
						<p>
							<span class="iconfont icon-weixinzhifu" style="color:rgb(82,165,73)"></span>微信支付
						</p>
					</div>
					<div class="payWay">
						<span class="iconfont icon-weixuanzhongyuanquan quanquan"></span>
						<p class="ylpic">
							<img src="__PUBLIC__/Home/images/yl.png" alt="">银联支付
						</p>
					</div>
					<div class="payWay">
						<span class="iconfont icon-weixuanzhongyuanquan quanquan"></span>
						<p>
							<span class="iconfont icon-alipay" style="color:rgb(0,170,239)"></span>支付宝支付
						</p>
					</div>
					<div class="payConfirm">
						<p @click="goPay">确定</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/Pay/firstHire.js"></script>
	<script>
		var back2home = document.getElementsByClassName('back2home');
		back2home[0].innerHTML = '';
	</script>
</body>
</html>